{{ partial "header.html" . }}



<!-- Page Header -->
<header class="masthead" style="background-color: #333;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
          <!-- <h2 class="subheading"></h2> -->
          <span class="meta">
            {{ if .Params.date }} {{ dateFormat "January 2, 2006" .Date }} · {{ .ReadingTime }} minute read {{ end }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ .Content }}
      </div>
    </div>
  </div>
</article>

<div id=links>
  {{ if .PrevInSection }}
    <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
  {{ end }}
  {{ if .NextInSection }}
    <a class="basic-alignment left" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} &raquo;</a>
  {{ end }}
</div>

{{ partial "footer.html" . }}


