<style>


  /* pt-serif-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pt-serif-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Serif'), local('PTSerif-Regular'),
       url('/fonts/pt-serif-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pt-serif-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pt-serif-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pt-serif-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pt-serif-v11-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
}

/* pt-serif-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/pt-serif-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Serif Bold'), local('PTSerif-Bold'),
       url('/fonts/pt-serif-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pt-serif-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pt-serif-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pt-serif-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pt-serif-v11-latin-700.svg#PTSerif') format('svg'); /* Legacy iOS */
}



  * {
    border:0;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
    color: #333;
    text-decoration-skip: ink;
  }

  html {
    font-size:62.5%;
  }

  body {
    font-family:'PT Serif', 'Myriad Pro', Myriad, sans-serif;
    font-size:1.8rem;
    line-height:160%;
    color:#1d1313;
    max-width:700px;
    margin:auto;
  }

  p {
    margin: 20px 0;
  }

  #content a {
    text-decoration: underline;
    color: #1f2a44;
  }
  
  #content a:hover {
    color: #fc4c04;
  }

  a img {
    border:none;
    text-decoration: none;
  }

  img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
  }

  .left-justify {
    float: left;
  }

  .right-justify {
    float:right;
  }

  pre, code {
    font: 1.4rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    /* background-color: #f3f3f3!important; */
    color: #ffffff;
    border-radius: 5px; 
  }

  code {
    padding: 4px;
    background-color: #272822;
  }

  pre {
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
  }

  pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    /* background: transparent; */
    border: 0;
  }

  pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    /* background-color: transparent; */
    border: 0;
  }

  pre code::before,
  pre code::after {
    content: normal;
  }

  em,q,em,dfn {
    font-style:italic;
  }

  .sans,html .gist .gist-file .gist-meta {
    font-family:"PT Serif","Myriad Pro",Myriad,sans-serif;
  }

  .mono,pre,code,tt,p code,li code {
    font-family:Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  }

  .heading,.serif,h1,h2,h3 {
    font-family:"PT Serif",serif;
  }
  
  h4 {
    font-weight: normal;
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
    background: #333;
    display: inline-block;
    position: relative;
    top: 14px;
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    font-size: 1.4rem;
    z-index: 10;
  }
  
  strong {
    font-weight:600;
  }

  q:before {
    content:"\201C";
  }

  q:after {
    content:"\201D";
  }

  del,s {
    text-decoration:line-through;
  }

  blockquote {
    font-family:"PT Serif",serif;
    text-align:center;
    padding:50px;
  }

  blockquote p {
    display:inline-block;
    font-style:italic;
  }

  blockquote:before,blockquote:after {
    font-family:"PT Serif",serif;
    content:'\201C';
    font-size:3rem;
    color:#333;
  }

  blockquote:after {
    content:'\201D';
  }

  hr {
    width:40%;
    height: 1px;
    background:#333;
    margin: 25px auto;
  }

  h1 {
    font-size:3rem;
  }

  h2 {
    font-size:2rem;
  }

  h3 {
    font-size:1.75rem;
    margin-top:1rem;
  }

  h1 a,h2 a,h3 a {
    text-decoration:none;
  }

  h1,h2 {
    margin-top:2rem;
  }

  #sub-header, .date {
    color:#333;
    font-size:1.4rem;
  }

  #sub-header {
    margin: 0 4px;
  }

  #nav h1 a {
    font-size: 3rem;
    color: #333;
    font-weight: 700;
    transition: ease 1s;
    
  }

  #nav h1 a:hover {
    color: #fc4c04;
    text-decoration: none;
  }
  
  .posts_listing a,#nav a {
    text-decoration: none;
  }

  li {
    margin-left: 20px;
  }

  ul li {
    margin-left: 5px;
  }

  ul li {
    list-style-type: none;
  }
  ul li:before {
    content:"\00BB \0020";
  }

  #nav ul li:before, .posts_listing li:before {
    content:'';
    margin-right:0;
  }

  #content {
    text-align:left;
    width:100%;
    padding:60px 0 80px;
  }

  #content h1,#content h2 {
    margin-bottom:5px;
  }

  #content h2 {
    font-size:2.4rem;
  }

  #content h2.latest-posts img {
    display: inline;
    height: 2.6rem;
    width: auto;
    margin: 0 1rem 0 0;
  }

  #content .entry-content {
    margin-top:15px;
  }

  #content .date {
    margin-left:3px;
  }

  #content h1 {
    font-size:5rem;
    line-height: 6rem;
  }

  .highlight {
    margin: 10px 0;
    z-index: 20;
    position: relative;
  }

  .posts_listing {
    margin:0 0 50px;
  }

  .posts_listing li {
    margin:0 0 25px 0px;
  }

  .posts_listing li a:hover,#nav a:hover {
    text-decoration: underline;
  }

  #nav {
    text-align:center;
    position:static;
    margin-top:60px;
  }

  #nav ul {
    display: table;
    margin: 2rem auto 0 auto;
  }

  #nav li {
    list-style-type:none;
    display:table-cell;
    font-size:15px;
    padding: 0 20px;
  }

  #links {
    margin: 50px 0 0 0;
  }

  #links :nth-child(2) {
    float:right;
  }

  #not-found {
    text-align: center;
  }

  #not-found a {
    font-family:"PT Serif",serif;
    font-size: 200px;
    text-decoration: none;
    display: inline-block;
    padding-top: 225px;
  }


  .footer {
    margin-bottom: 1rem;  
  }

  .footer hr {
    width: 100%;
  }
  
  .footer span.copyright {
    font-family: "PT Serif",serif;
  }

  @media (max-width: 750px) {
    body {
      padding-left:20px;
      padding-right:20px;
    }

    #nav h1 a {
      font-size:28px;
    }

    #nav li {
      font-size:13px;
      padding: 0 15px;
    }

    #content {
      margin-top:0;
      padding-top:50px;
      font-size:14px;
    }

    #content h1 {
      font-size:25px;
    }

    #content h2 {
      font-size:22px;
    }

    .posts_listing li div {
      font-size:12px;
    }
  }

  @media (max-width: 400px) {
    body {
      padding-left:20px;
      padding-right:20px;
    }

    #nav h1 a {
      font-size:22px;
    }

    #nav li {
      font-size:12px;
      padding: 0 10px;
    }

    #content {
      margin-top:0;
      padding-top:20px;
      font-size:12px;
    }

    #content h1 {
      font-size:20px;
    }

    #content h2 {
      font-size:18px;
    }

    .posts_listing li div{
      font-size:12px;
    }
  }

  @media (prefers-color-scheme: dark) {
    *, #nav h1 a {
      color: #FDFDFD;
    }

    body {
      background: #121212;
    }

    pre, code {
      background-color: #262626;
    }

    #sub-header, .date {
      color: #BABABA;
    }

    hr {
      background: #EBEBEB;
    }
  }
</style>
