{{ partial "header.html" . }}

<section id=content>
  <h2 class=latest-posts><img src=icons/notepad.svg />Latest posts</h2>
  <ul class=posts_listing>
    {{- range ( where .Site.RegularPages "Section" "blog" | first 10 ) }}
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class=date>
          {{ dateFormat "January 2, 2006" .Date }} · {{ .ReadingTime }} minute read
        </div>
      </li>
    {{ end }}
  </ul>
</section>

<section id="contact-form" style="display: none;">
  <form name="contact" netlify>
    <p>
      <label>Name <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email <input type="email" name="email" /></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
</section>

{{ partial "footer.html" . }}