{{ partial "header.html" . }}

  <!-- Page Header -->
  <header class="masthead internal-gallery">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Tags</h1>
            <span class="subheading">Find all posts associated with each tag</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container mb-5">
    <ul>
        {{ range .Site.Taxonomies.tags }}
                <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
        {{ end }}
    </ul>
    
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{- range ( where .Site.RegularPages "Section" "blog" | first 10 ) }}
        <div class="post-preview mb-5">
          <a href="{{ .Permalink }}">
            <h2 class="post-title">
              {{ .Title }}
            </h2>
            <!-- <h3 class="post-subtitle"></h3> -->
          </a>
          <p class="post-meta">
            {{ dateFormat "January 2, 2006" .Date }} · {{ .ReadingTime }} minute read
          </p>
        </div>
        {{ end }}
        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>

{{ partial "footer.html" . }}