{{ partial "header.html" . }}

  <!-- Page Header -->
  <header class="masthead internal-gallery">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Tags</h1>
            <span class="subheading">Find all posts associated with each tag</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container mb-5">


  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

        {{ range .Site.Taxonomies.tags }}
          <a class="btn btn-large btn-secondary" href="{{ .Page.Permalink }}">#{{ .Page.Title }} <span class="badge badge-info">{{ .Count }}</span></a>
        {{ end }}

    </div>
  </div>
  
  </div>

{{ partial "footer.html" . }}